<div class="height100" *ngIf="page">
  <div class="main">
    <div class="searchBar">
      <ion-item ><!--class="searchBar width100"-->
        <ion-label>
          <ion-icon name="search-outline"></ion-icon>
        </ion-label>
        <ion-input placeholder="Search" [(ngModel)]="filterTerm" animated="true"></ion-input>
      </ion-item>
      <ion-row class="searchBar">
        <ion-col size="6" class="border-end">
          <ion-item button (click)="openCalendar(1)" lines="none">
            <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-text><div class="primaryFont">Desde: </div>{{formattedStringFrom}}</ion-text>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item button (click)="openCalendar(2)" lines="none">
            <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
            <ion-text><div class="primaryFont">Hasta: </div>{{formattedStringTo}}</ion-text>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <app-calendar></app-calendar>
    <div class="table">
      <ion-content>
        <ion-list *ngFor="let arching of archingList | filter: filterTerm">
          <ion-item button (click)="openArchingDetail(arching.id)">
            <ion-label>
              <h1>{{arching.name}} {{arching.startDate}}</h1>
              <p><b>Nombre del arqueo:</b> {{arching.name}}</p>
              <p><b>Responsable:</b> {{arching.referrer}}</p>
              <p><b>Fecha de inicio:</b> {{arching.startDate}}</p>
              <p><b>Fecha de finalización:</b> {{arching.endDate}}</p>
              <p><b>Catidad de productos de archivo:</b> {{arching.fileProductAmount}}</p>
              <p><b>Cantidad de productos escaneados:</b> {{arching.scannedProductAmount}}</p>
              <ion-badge color="danger" *ngIf="arching.valence > 0 || arching.valence < 0"><b>Balance:</b> {{arching.valence}}</ion-badge>
              <ion-badge color="success" *ngIf="arching.valence === 0"><b>Balance:</b> {{arching.valence}}</ion-badge>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </div>
</div>
