<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="arching">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Arqueo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="file-product">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>File</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="barcode-outline"></ion-icon>
      <ion-label>Escaner</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
